name: NextGen CRM CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend-tests:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --detach

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install backend deps
        working-directory: ./
        run: npm install

      - name: Run Prisma generate
        run: npx prisma generate

      - name: Run Tests (pg-mem)
        run: npm test

  build-docker:
    runs-on: ubuntu-latest
    needs: backend-tests

    steps:
      - uses: actions/checkout@v4

      - name: Build backend Docker image
        run: docker build -t nextgen-backend .

      - name: Build frontend Docker image
        run: docker build -t nextgen-frontend ./frontend2
